<header class="main-header"> 
    <div class="conteiner">
      <nav id="site-nav" class="site-nav">
        <ul>
          <li>
            <a href="/"><i class="fas fa-home site-nav--icon"></i>Inicio</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-search site-nav--icon"></i>Buscar</a>
          </li>
          <li>
            <a href="/productos/detalles"><i class="fas fa-list site-nav--icon"></i>Catálogo</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope site-nav--icon"></i>Contacto</a>
          </li>
          <li>
            <a href="/usuarios/registrar"><i class="far fa-address-book site-nav--icon"></i>Registrar</a>
          </li>
          <li>
            <a href="/usuarios/ingresar"><i class="fas fa-sign-in-alt site-nav--icon"></i>Login</a>
          </li>
        </ul>
      </nav>
      <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
        <div class="hamburger"></div>
      </div>
      <div class="cont2"><a href="/"><img class="logo" src="/img/SVG/365Wheels.svg"
            alt="Logo 365Wheels" /></a>
      </div>
      <div class="cont3"><a href="/productos/carrito"><img><i class="fas fa-shopping-cart fa-lg"></i></img></a> </div>
    </div>
  </header> 