<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Forum&family=Jura&family=Marck+Script&family=Play&display=swap" rel="stylesheet">
    <link href="/public/css/styles_catalogo.css" rel="stylesheet">
    <link href="/public/css/normalize_catalogo.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <script src="/public/js/efecto.js"></script>
      <title>360 Wheels</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
      />
    <script src="https://kit.fontawesome.com/218922580f.js" crossorigin="anonymous"></script>
    <title>Catálogo</title>
</head>
<body>
  <header>
    <div class="conteiner">
    <nav id="site-nav" class="site-nav">
      <ul>
        <li>
          <a href="/view/home.html"><i class="fas fa-home site-nav--icon"></i>Inicio</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-search site-nav--icon"></i>Buscar</a>
        </li>
        <li>
          <a href="/view/catalogo.html"><i class="fas fa-list site-nav--icon"></i>Catálogo</a>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-envelope site-nav--icon"></i>Contacto</a
          >
        </li>
        <li>
          <a href="/view/register.html"
            ><i class="far fa-address-book site-nav--icon"></i>Registrar</a
          >
        </li>
        <li>
          <a href="/view/login.html"
            ><i class="fas fa-sign-in-alt site-nav--icon"></i>Login</a
          >
        </li>
      </ul>
    </nav>
    <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
      <div class="hamburger"></div>
    </div>

    <div class="cont2"><a href="/view/home.html"><img class="logo" src="/public/img/logo_energizer.png" alt="Logo 360Wheels"/></a> </div>

    <div class="cont3"><a href="#"><img><i class="fas fa-shopping-cart fa-lg"></i></img></a> </div>
  </div>
  </header>
        <section class="banner">
            <img src="/public/img/vehiculo/banner.jpg" alt="Banner de ofertas">
            <div class="button">
              Todos los modelos
              <i class="fas fa-angle-double-down"></i>
            </div>
        </section>
        <main>
            <section class="catalogue">
              <section class="view-car">
                <h3>Hatchback</h3>
                <div class="products">
                    <article>
                        <img src="/public/img/vehiculo/Hatchback.jpg" alt="Clase A">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Hatchback Clase A</h4>
                        </div>
                    </article>
                    <article>
                      <img src="/public/img/vehiculo/Hatchback02.jpg" alt="Clase B">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase B</h4>
                      </div>
                    </article>
                    <article>
                      <img src="/public/img/vehiculo/Hatchback01.jpg" alt="Clase C">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase C</h4>
                      </div>
                    </article>
                    <article>
                      <img src="/public/img/vehiculo/Hatchback03.jpg" alt="Clase D">
                      <div class="main-article">
                        <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                        <h4 class="description">Hatchback Clase D</h4>
                      </div>
                    </article>
                </div>
            </section>
            <section>
                <h3>Sedán</h3>
                <div class="products">
                    <article>
                        <img src="/public/img/vehiculo/Sedan01.jpg" alt="Clase E">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Sedán Clase E</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/public/img/vehiculo/Sedan02.jpg" alt="Clase F">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Sedán Clase F</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/public/img/vehiculo/Sedan03.jpg" alt="Clase G">
                        <div class="main-article">
                          <a href="/Especificaciones" class="img-pos"><i class="fas fa-car"></i></a>
                        <h4 class="description">Sedán Clase G</h4>
                        </div>
                    </article>
                  </div>  
              </section>
              <section>
                <section>
                  <h3>Coupés</h3>
                  <div class="products">
                      <article>
                          <img src="/public/img/vehiculo/coupes 2021.jpg" alt="Clase H">
                          <div class="main-article">
                            <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">Coupés Clase H</h4>
                          </div>
                      </article>
                      <article>
                        <img src="/public/img/vehiculo/coupes01.jpg" alt="Clase I">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase I</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/public/img/vehiculo/coupes02.jpg" alt="Clase J">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase J</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/public/img/vehiculo/coupes03.jpg" alt="Clase K">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">Coupés Clase K</h4>
                        </div>
                      </article>
                  </div>
              </section>
              <section>
                <section>
                  <h3>SUV</h3>
                  <div class="products">
                      <article>
                          <img src="/public/img/vehiculo/suv01.jpg" alt="Clase M">
                          <div class="main-article">
                            <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                            <h4 class="description">SUV Clase M</h4>
                          </div>
                      </article>
                      <article>
                        <img src="/public/img/vehiculo/suv02.jpg" alt="Clase N">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">SUV Clase N</h4>
                        </div>
                      </article>
                      <article>
                        <img src="/public/img/vehiculo/suv03.jpg" alt="Clase Z">
                        <div class="main-article">
                          <a href="/Especificaciones"><i class="fas fa-car"></i></a>
                          <h4 class="description">SUV Clase Z</h4>
                        </div>
                      </article>
                  </div>
              </section>
        </main>

        <footer>
          
        </footer>
        
    </body>
</html>