<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <%- include('./partials/header.ejs')%>
  <div class="presentacion"></div>
  <div class="nombreMarca">
    <img class="modeloAuto" src="/public/img/JPEG/Marcas/Ferrari/LaFerrari/aperta-logo.png" alt="logo LaFerrari">
  </div>

  <div class="detalle">
    <div class="imagenAuto"></div>
    <div class="descripcion">
      <div class="textoAuto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp; El Ferrari LaFerrari fue presentado en el Salón del Automóvil de Ginebra de 2013.
          Se trata del superdeportivo más moderno, innovador y veloz de la historia de la
          marca italiana que toma el relevo de modelos tan míticos como el Ferrari F40,
          el Ferrari F50 o el Ferrari Enzo. Modelos que, sin duda, representan lo mejor.
      </div>
    </div>
  </div>


  <div class="detalle">
    <div class="descripcion">
      <div class="textoAuto">
        <p>&nbsp;&nbsp;&nbsp;&nbsp; El Ferrari LaFerrari fue presentado en el Salón del Automóvil de Ginebra de 2013.
          Se trata del superdeportivo más moderno, innovador y veloz de la historia de la
          marca italiana que toma el relevo de modelos tan míticos como el Ferrari F40,
          el Ferrari F50 o el Ferrari Enzo. Modelos que, sin duda, representan lo mejor.
      </div>
    </div>

    <div class="carrusel">

      <ul class="slider">
        <li id="slide1">
          <img id="imagen1" src="/public/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png" />
        </li>
        <li id="slide2">
          <img src="/public/img/PNG/Marcas/Lamborghini/lambo-min.png" />
        </li>
        <li id="slide3">
          <img src="/public/img/PNG/Marcas/Ferrari/LaFerrari/LaFerrari.png" />
        </li>
      </ul>

      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
        <li>
          <a href="#slide3">3</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="galeria">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="img5"></div>
    <div class="img6"></div>
  </div>

</body>
<%- include('./partials/footer.ejs')%>
</html>