<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')%>
  <title>Login</title>
<body>
  <%- include('./partials/header.ejs')%>
<div class="completo">
  <div class="registro">

    <div class="cabecera">
      <img class="logo" src="/img/SVG/365Wheels.svg" >
    </div>
    <section class="form-register">
      <div class="datos">
        <h4>Ingresar datos</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Correo">
        <input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
        <input class="controls" type="password" name="password" id="password" placeholder="Confirme su Contraseña">
        <label class="termino"><input class="termino" type="checkbox" id="cbox1" value="first_checkbox"> Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label>
        <input class="botons-registro" type="submit" value="Registrarse">
        <div class="botonesRS">
          <div class="botRegistro-Facebook">
            <img class="logoRS" src="/img/PNG/Iconos/facebook_letraBlanca.png" alt="logo de facebook">
            <p>Facebook</p>
          </div>
          <div class="botRegistro-Google">
            <img class="logoRS" src="/img/PNG/Iconos/google_colores.png" alt="logo de google">
            <p>Google</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>

</html>